[tool.black]
line-length = 120

[tool.isort]
profile = "black"

[tool.flake8]
max-line-length = 120

[tool.ruff]
line-length = 120

[tool.coverage.run]
source = ["sc4_mapper"]

[tool.pytest.ini_options]
addopts = "--cov=sc4_mapper --cov-report term-missing"
log_cli = true
log_cli_level = "DEBUG"
log_cli_format = "%(asctime)s [%(levelname)s][%(filename)s:%(lineno)s]%(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"
