name: CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build Docker image
      run: docker build -t sc4mapper:latest .

    - name: Build Test Image
      run: docker build -t sc4mapper:test -f Dockerfile.test .

    - name: Run Ruff Check
      run: docker run --rm --entrypoint python3 sc4mapper:test -m ruff check .
      
    - name: Run Ruff Format Check
      run: docker run --rm --entrypoint python3 sc4mapper:test -m ruff format --check .

    - name: Run Tests
      run: docker run --rm sc4mapper:test
